@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Bold.eot');
  src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('HelveticaNeue-Bold.woff') format('woff'), url('HelveticaNeue-Bold.ttf') format('truetype'), url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-style: normal;
  font-weight: 700;
  font-display: optional;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Medium.eot');
  src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('HelveticaNeue-Medium.woff') format('woff'), url('HelveticaNeue-Medium.ttf') format('truetype'), url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-style: normal;
  font-weight: 500;
  font-display: optional;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Regular.eot');
  src: url('HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype'), url('HelveticaNeue-Regular.woff') format('woff'), url('HelveticaNeue-Regular.ttf') format('truetype'), url('HelveticaNeue-Regular.svg#HelveticaNeue-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 84px;
  line-height: 92.4px;
  letter-spacing: -4px;
}

h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: -4px;
}

h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 57.2px;
  letter-spacing: -4px;
}

h4 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 48.4px;
  letter-spacing: -3px;
}

sub {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2px;
}

p.lg {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -0px;
}

p.md {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -1px;
}

p.sm {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
}

p.cp {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
  line-height: 27.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
